body{
  background-color: #BBD0FF;
}

header {
  background-color: #C8B6FF;
}

footer {
  background-color: #C8B6FF;
  bottom: 0;
  width: 100%;
}

.navbar{
  background-color: #E7C6FF;
}

#emailLink{
  float:right;
}

/* #headshot{
  padding: 1% 5% 1% 1%;
  padding-top: 1%;
  float:left;
} */
