body{
  background-color: #BBD0FF;
}

header {
  background-color: #C8B6FF;
}

footer {
  background-color: #C8B6FF;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.navbar{
  background-color: #E7C6FF;
}

#emailLink{
  float:right;
}
#container{
  min-height: 85vh;
  margin-bottom: 50px;
}
#container::after{
  content: "";
  display:block;
  height 50px;
}
/* #headshot{
  padding: 1% 5% 1% 1%;
  padding-top: 1%;
  float:left;
} */
